In [1]:
a = 1

In [2]:
type(a)

int

In [3]:
OMG_members = ["Hyojung", "Binnie", "Arin"]

In [4]:
len(OMG_members)

3

In [5]:
OMG_members[2]

'Arin'

In [6]:
OMG_members[0:2]

['Hyojung', 'Binnie']

In [7]:
numbers = range(0,4)

In [8]:
list(numbers)

[0, 1, 2, 3]

In [9]:
OMG = []

In [10]:
OMG.append('Yooa')

In [11]:
OMG

['Yooa']

In [12]:
OMG.append('Mimi')
OMG.append('Seunghee')

In [13]:
OMG

['Yooa', 'Mimi', 'Seunghee']

In [14]:
OMG.extend('Jiho')

In [17]:
OMG

['Yooa', 'Mimi', 'Seunghee', 'J', 'i', 'h', 'o']

In [18]:
OMG = []

In [19]:
OMG.append('Yooa')

In [20]:
OMG.append('Mimi')
OMG.append('Seunghee')

In [21]:
OMG.append('Jiho')

In [22]:
OMG

['Yooa', 'Mimi', 'Seunghee', 'Jiho']

In [23]:
OMG = []
OMG.append('Yooa')

In [24]:
OMG.extend(['Mimi', 'Seunghee', 'Jiho'])

In [25]:
OMG

['Yooa', 'Mimi', 'Seunghee', 'Jiho']

In [26]:
from random import randint

In [27]:
randint(0, 1000)

625

In [28]:
randint(0, 1000)

518

In [29]:
import numpy as np

In [30]:
np.random.randint(0, 1000, size=4)

array([852, 359, 732,  37])

In [31]:
sample = np.random.randint(0, 1000, size=(7,4))

array([[703, 283, 765, 816],
       [848, 168, 825, 594],
       [803, 261, 823, 842],
       [327, 152,  50, 856],
       [495, 549, 138, 132],
       [787, 585, 129, 449],
       [676, 733, 357, 903]])

In [32]:
import pandas as pd

In [36]:
pd.DataFrame(np.random.randint(0, 1000, size=(7,4)))

     0    1    2    3
0  536  803   56  959
1  447  947   11  671
2  211   74  307  151
3  961  665  979  693
4  944  415  959  962
5  301  489  106   61
6  952   43  806  701

In [34]:
dates = ["Mon", "Tue", "Wed", "Thur", "Fri", "Sat", "Sim"]
firms = ["Firm1", "Firm2", "Firm3", "Firm4"]

In [40]:
sample = pd.DataFrame(sample, index=dates, columns=firms)

In [41]:
sample

      Firm1  Firm2  Firm3  Firm4
Mon     NaN    NaN    NaN    NaN
Tue     NaN    NaN    NaN    NaN
Wed     NaN    NaN    NaN    NaN
Thur    NaN    NaN    NaN    NaN
Fri     NaN    NaN    NaN    NaN
Sat     NaN    NaN    NaN    NaN
Sim     NaN    NaN    NaN    NaN

# 6. Function

In [42]:
1+2+3

6

In [43]:
def add(x, y, z):

SyntaxError: unexpected EOF while parsing (<ipython-input-43-ad401a9a604c>, line 1)

In [44]:
def add(x, y, z):
    return x + y + z

In [45]:
add(1,2,3)

6

In [46]:
add('박', '카', '스')

'박카스'

In [47]:
for n in range(1,10):
    print(3, 'x', n, '=', 3*n)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [48]:
def gugudan(x):
    for n in range(1,10):
        print(x, 'X', n, '=', x*n)

In [49]:
gugudan(5)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

In [50]:
gugudan('오마이걸')

오마이걸 X 1 = 오마이걸
오마이걸 X 2 = 오마이걸오마이걸
오마이걸 X 3 = 오마이걸오마이걸오마이걸
오마이걸 X 4 = 오마이걸오마이걸오마이걸오마이걸
오마이걸 X 5 = 오마이걸오마이걸오마이걸오마이걸오마이걸
오마이걸 X 6 = 오마이걸오마이걸오마이걸오마이걸오마이걸오마이걸
오마이걸 X 7 = 오마이걸오마이걸오마이걸오마이걸오마이걸오마이걸오마이걸
오마이걸 X 8 = 오마이걸오마이걸오마이걸오마이걸오마이걸오마이걸오마이걸오마이걸
오마이걸 X 9 = 오마이걸오마이걸오마이걸오마이걸오마이걸오마이걸오마이걸오마이걸오마이걸

In [54]:
def gugudan_new(x):
    if x in list(range(1,10)):
        print(x, '단입니다', '\n',sep='')
        for n in range(1,10):
            print(x, 'X', n, '=', x*n)
    else:
        print('틀려버렸지 뭐야!')

In [55]:
gugudan_new(7)

7단입니다

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

In [53]:
gugudan_new('오마이걸')

틀려버렸지 뭐야!

# Pandas

In [56]:
import pandas as pd

In [59]:
pokemon = pd.read_csv('Pokemon.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'Pokemon.csv'

In [60]:
pokemon = pd.read_csv('Pokemon.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'Pokemon.csv'

In [61]:
import os
os.getcwd()

'C:\\Users\\정예린'

In [63]:
pokemon = pd.read_csv('Pokemon.csv')

In [64]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [65]:
pokemon.iloc[300,:]

#                 277
Name          Swellow
Type 1         Normal
Type 2         Flying
Total             430
HP                 60
Attack             85
Defense            60
Sp. Atk            50
Sp. Def            50
Speed             125
Generation          3
Legendary       False
Name: 300, dtype: object

In [66]:
pokemon.iloc[300:305,:]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
300,277,Swellow,Normal,Flying,430,60,85,60,50,50,125,3,False
301,278,Wingull,Water,Flying,270,40,30,30,55,30,85,3,False
302,279,Pelipper,Water,Flying,430,60,50,100,85,70,65,3,False
303,280,Ralts,Psychic,Fairy,198,28,25,25,45,35,40,3,False
304,281,Kirlia,Psychic,Fairy,278,38,35,35,65,55,50,3,False

In [67]:
pokemon.iloc[:,1]

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [68]:
pokemon['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [69]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [71]:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

In [73]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [75]:
pokemon[pokemon['Type 1']=='Water']['Type 1'].value_counts()

Water    112
Name: Type 1, dtype: int64

In [76]:
pokemon[pokemon['HP']>100]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
44,39,Jigglypuff,Normal,Fairy,270,115,45,20,45,25,20,1,False
45,40,Wigglytuff,Normal,Fairy,435,140,70,45,85,50,45,1,False
96,89,Muk,Poison,NaN,500,105,105,75,65,100,50,1,False
120,112,Rhydon,Ground,Rock,485,105,130,120,45,45,40,1,False
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
753,683,Aromatisse,Fairy,NaN,462,101,72,72,99,89,29,6,False
769,699,Aurorus,Rock,Ice,521,123,77,72,99,92,58,6,False
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True

In [77]:
pokemon[(pokemon['Type 1']=='Water')&(pokemon['HP']>100)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
142,131,Lapras,Water,Ice,535,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,525,130,65,60,110,95,65,1,False
185,171,Lanturn,Water,Electric,460,125,58,58,76,76,67,2,False
350,320,Wailmer,Water,NaN,400,130,70,35,70,35,60,3,False
351,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False
372,340,Whiscash,Water,Ground,468,110,78,73,76,71,60,3,False
470,423,Gastrodon,Water,Ground,475,111,83,68,92,82,39,4,False
597,537,Seismitoad,Water,Ground,509,105,95,75,85,75,74,5,False
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False

In [78]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [79]:
pokemon[(pokemon['Type 1']=='Water')|(pokemon['Type 1']=='Grass')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,658,Greninja,Water,Dark,530,72,95,67,103,71,122,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [80]:
pokemon[pokemon['Type 1'].isin(['Water', 'Normal', 'Grass'])]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
744,676,Furfrou,Normal,NaN,472,75,80,60,65,90,102,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [83]:
pokemon[pokemon['Legendary']==False]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False

In [84]:
pokemon[['Name', 'Total']]

                      Name  Total
0                Bulbasaur    318
1                  Ivysaur    405
2                 Venusaur    525
3    VenusaurMega Venusaur    625
4               Charmander    309
..                     ...    ...
795                Diancie    600
796    DiancieMega Diancie    700
797    HoopaHoopa Confined    600
798     HoopaHoopa Unbound    680
799              Volcanion    600

[800 rows x 2 columns]

In [85]:
pokemon.drop('#', axis=1)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [86]:
pokemon = pokemon.drop('#', axis=1)

In [87]:
pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [89]:
pokemon.drop(['Type 2'], axis=1)

,Name,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,600,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,600,80,110,120,130,90,70,6,True

In [90]:
pokemon.columns

Index(['Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [91]:
pokemon.dtypes

Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [95]:
pokemon_new = pokemon.rename({'Type 1':'Type1','Type 2':'Type2', 'Sp. Atk':'Sp_Atk', 'Sp. Def':'Sp_Def' }, axis='columns')

In [96]:
pokemon.columns = ['Name', 'Type1', 'Type2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp_Atk', 'Sp_Def', 'Speed', 'Generation', 'Legendary']

In [97]:
pokemon

,Name,Type1,Type2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [99]:
water_pokemon = pokemon[pokemon['Type1']=='Water']

In [100]:
water_pokemon.to_csv('water_pokemon.csv')